<div id="page-top"></div>
<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="open/close navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">
						<f:image src="EXT:aws_start_screen/Resources/Public/Images/Navbar/top.svg" alt="Scroll to top" width="16" height="16" class="" />
						To Top
					</a>
				</li>
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="#access-details">
						<f:image src="EXT:aws_start_screen/Resources/Public/Images/Navbar/access-details.svg" alt="Access Details" width="16" height="16" class="" />
						Access Details
					</a>
				</li>
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="#documentation">
						<f:image src="EXT:aws_start_screen/Resources/Public/Images/Navbar/documentation.svg" alt="Documentation" width="16" height="16" class="" />
						Documentation
					</a>
				</li>
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-2 px-0 px-lg-3 rounded js-scroll-trigger" href="#backend-login">
						<f:image src="EXT:aws_start_screen/Resources/Public/Images/Navbar/backend-login.svg" alt="Backend Login" width="16" height="16" class="" />
						Backend Login
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<f:render section="Main" />
