/**
 * This file is part of the TYPO3 CMS Extension "TYPO3-on-AWS Start Screen"
 * Extension author: Michael Schams <schams.net>
 *
 * Project: https://t3rrific.com/typo3-on-aws/
 * Sources: https://github.com/typo3-on-aws/aws_dashboard_widgets
 *
 * For copyright and license information, please read the LICENSE.txt
 * file distributed with this source code.
 */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

p, .alert {
    font-size: 1.2rem;
}

.navbar {
    background-color: #ff8700;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link i.fas {
    margin-right: .4rem;
}

.section {
    min-height: 100vh;
    padding-top: 6rem;
}

.section.landing-page {
    background-color: white;
    min-height: 100vh;
}

.section.landing-page img.logo {
    width: 160px;
    height: 160px;
}

.section.landing-page h1 {
    font-family: 'Doppio One', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #444444;
}

.section.landing-page p {
    font-size: 1.4rem;
}

.section.landing-page p .btn-typo3 {
    margin-left: 0.6rem;
}

.section.landing-page .card-body {
    min-height: 12rem;
}

.section.landing-page .card-body .card-text {
    font-size: 1.2rem;
}

.section.landing-page .card-footer {
    background-color: unset;
    border-top: none;
}

.section.access-details {
    background-color: #eeeeee;
}

.section.documentation {
    background-color: #dddddd;
}

.section.backend-login {
    background-color: white;
}

.section.documentation img.logo {
    margin: 0 auto;
}

.btn-typo3 {
    color: white;
    font-weight: bold;
    background-color: #ff8700;
    border-color: #ff8700;
}

.btn-typo3:hover {
    background-color: white !important;
    border-color: black !important;
}

code {
    color: #444444;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

pre {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

@media screen and (max-width: 992px) {
}

.bg-orange {
    background-color: #ff8700;
}

.bg-grey {
    background-color: #f2f4f4;
}
