<f:layout name="Default" />
<f:section name="Main">
    <main role="main">

        <!-- Landing Page -->
        <section class="section landing-page" id="landing-page">
            <div class="container d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <f:image src="EXT:aws_start_screen/Resources/Public/Images/Brands/t3rrific.png" alt="t3rrific.com" width="160" height="160" class="logo" />
                </div>
                <h1 class="text-center mb-3">TYPO3-on-AWS</h1>
                <h2 class="d-flex align-items-end">
                    Congratulations!
                    <f:image src="EXT:aws_start_screen/Resources/Public/Images/thumb-up.svg" alt="Thumb up" width="42" height="42" class="ms-2" />
                </h2>
                <p>
                    You've just launched an <strong>EC2 instance</strong> running <strong>Debian GNU/Linux</strong> with <strong>TYPO3</strong> pre-installed on Amazon Web Services (AWS). Please note that charges may apply while the instance is running.
                    <a class="btn btn-typo3 btn-sm" href="https://aws.amazon.com/ec2/pricing/" target="_blank" role="button">read more</a>
                </p>
                <p>
                    Next, you'll need to create an <a class="js-scroll-trigger" href="#access-details">administrator account</a>, which is required to log in to the <a class="js-scroll-trigger" href="#backend-login">TYPO3 backend</a>.
                </p>
                <div class="row mt-4">
                    <div class="col-md mb-2">
                        <div class="card shadow h-100">
                            <div class="card-header">
                                <strong>Project Website</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Discover best practices for running TYPO3 on AWS and learn how to keep your instance secure, up to date, and performing at its best.
                                </p>
                                <p class="card-text">
                                    At <a href="https://t3rrific.com" target="_blank" alt="t3rrific.com website">t3rrific.com</a>, we specialise in designing highly available, scalable, and resilient infrastructures for TYPO3. Free and commercial support options are available.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-typo3" href="https://t3rrific.com/typo3-on-aws/" target="_blank" alt="Project website: TYPO3 on a Debian Linux Amazon EC2 Instance">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mb-2">
                        <div class="card shadow h-100">
                            <div class="card-header">
                                <strong>Release Notes</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Check out the latest news and updates for TYPO3 to stay informed about what's happening in the ecosystem. You can also review the official release notes for detailed insights into new versions, recently added features, and ongoing enhancements.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-typo3" href="https://get.typo3.org/version/14" target="_blank" alt="TYPO3 Release Notes">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Access Details -->
        <section class="section access-details" id="access-details">
            <div class="container">
                <h2>Access Details</h2>
                <p>
                    When you launch your EC2 instance for the first time, access credentials such as a random system password are generated automatically. To log in to the <a class="js-scroll-trigger" href="#backend-login">TYPO3 backend</a>, you will also need to create a backend user with administrator privileges.
                </p>
                <p>
                    Start by establishing a secure SSH connection to the server using the private SSH key you configured during the EC2 launch (username: <code>admin</code>). For example, the following command uses the file <code>private.key</code> as your private key:
                </p>
                <pre class="rounded">ssh -i private.key admin@{hostname}</pre>
                <p class="mb-0">After logging in as the "admin" user, switch to the "typo3" user:</p>
                <pre class="rounded">sudo su - typo3</pre>
                <p class="mb-0">Next, navigate to the TYPO3 project directory:</p>
                <pre class="rounded">cd /var/www/typo3v14/</pre>
                <p class="mb-0">Create the TYPO3 backend user "admin":</p>
                <pre class="rounded">./vendor/bin/typo3 backend:user:create --admin --maintainer --username admin</pre>
                <p>
                    You will be prompted to set a secure password. Use the chosen username (e.g. <code>admin</code>) and the password to log in to the <a class="js-scroll-trigger" href="#backend-login">TYPO3 backend</a>.
                </p>
                <p>
                    If you encounter any issues, refer to the <a class="js-scroll-trigger" href="#documentation">documentation</a>.
                </p>
            </div>
        </section>

        <!-- Documentation -->
        <section class="section documentation" id="documentation">
            <div class="container">
                <h2>Documentation</h2>
                <p>
                    We understand how essential good documentation is. The <strong>TYPO3-on-AWS</strong> machine image consists of several components: a modern and robust Debian GNU/Linux operating system, an Apache web server, the MySQL/MariaDB database engine, PHP, and a selection of carefully chosen software packages. On top of this foundation, the enterprise content management system TYPO3 is installed&nbsp;&mdash;&nbsp;all running on the powerful cloud infrastructure of Amazon Web Services (AWS).
                </p>
                <p>
                    There may be situations where you want to adjust the initial setup, such as replacing Apache with Nginx. The links below provide access to documentation that explains how to customise, maintain, and manage your TYPO3-on-AWS instance.
                </p>
                <div class="row mt-4">
                    <div class="col-lg-4 offset-lg-2 mb-2">
                        <div class="card shadow h-100">
                            <div class="card-body text-center">
                                <f:image src="EXT:aws_start_screen/Resources/Public/Images/Brands/t3rrific.png" alt="t3rrific.com" width="80" height="80" class="logo" />
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://t3rrific.com/typo3-on-aws/docs/" target="_blank" alt="TYPO3-on-AWS Documentation">TYPO3-on-AWS (t3rrific.com)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card shadow h-100">
                            <div class="card-body text-center">
                                <f:image src="EXT:aws_start_screen/Resources/Public/Images/Brands/typo3.svg" alt="TYPO3" width="80" height="80" class="logo" />
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://docs.typo3.org/" target="_blank" alt="TYPO3 Documentation Center">TYPO3 Documentation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 offset-lg-2 mb-2">
                        <div class="card shadow h-100">
                            <div class="card-body text-center">
                                <f:image src="EXT:aws_start_screen/Resources/Public/Images/Brands/aws.svg" alt="Amazon Web Services (AWS)" width="80" height="80" class="logo" />
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://docs.aws.amazon.com/" target="_blank" alt="AWS Documentation">Amazon Web Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="card shadow h-100">
                            <div class="card-body text-center">
                                <f:image src="EXT:aws_start_screen/Resources/Public/Images/Brands/debian.svg" alt="Debian GNU/Linux" width="80" height="80" class="logo" />
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://debian-handbook.info/" target="_blank" alt="Debian Administrator's Handbook">Debian GNU/Linux</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Backend Login -->
        <section class="section backend-login" id="backend-login">
            <div class="container">
                <h2>Backend Login</h2>
                <p>
                    The <strong>TYPO3 backend</strong> is the administration interface that lets you configure and manage the system, create additional backend users, and build and maintain your website content.
                </p>
                <div class="alert alert-warning text-center" role="alert">
                    Before proceeding, ensure that you have created a backend user and retrieved the
                    <a class="js-scroll-trigger" href="#access-details">access details</a>.
                </div>
                <p>
                    To access the TYPO3 backend, simply add <code>/typo3</code> to the end of your instance's URL. For this instance, the backend is available at:
                </p>
                <div class="card mt-4">
                    <div class="card-body text-center">
                        <p class="m-0"><a href="/typo3" target="_top">http://{hostname}/typo3</a></p>
                    </div>
                </div>
            </div>
        </section>

    </main>
</f:section>
